#recaptcha-rc {
  position: relative;
}
#recaptcha-rc #first-check-rc {
  display: flex;
  flex-direction: row;
  height: 74px;
  align-items: center;
  width: 300px;
  height: 74px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  border-radius: 3px;
  position: relative;
}
#recaptcha-rc #first-check-rc #check-rc {
  width: 24px;
  height: 24px;
  border: 2px solid #c1c1c1;
  background-color: #ffffff;
  border-radius: 2px;
  margin: auto 12px;
}
#recaptcha-rc #first-check-rc #load-rc {
  display: none;
  width: 18px;
  height: 18px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  left: 8px;
  animation: circleAni 1.3s linear infinite;
  transform-origin: 100% 100%;
}
#recaptcha-rc #first-check-rc #load-rc:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid #4a90e2 6px;
}
@keyframes circleAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#recaptcha-rc #first-check-rc #success-rc {
  display: none;
  width: 40px;
  height: 40px;
  margin: auto 5px;
  position: absolute;
}
#recaptcha-rc #first-check-rc #success-rc i {
  font-size: 40px;
  color: #009E55;
}
#recaptcha-rc #first-check-rc #i-am-not-robot-rc {
  width: 152px;
  font-size: 14px;
  line-height: 17px;
}
#recaptcha-rc #first-check-rc #logo-rc {
  margin-left: 26px;
}
#recaptcha-rc #first-check-rc #logo-rc img {
  width: 32px;
  height: 32px;
  margin: auto 13px;
}
#recaptcha-rc #first-check-rc #logo-rc #name-rc {
  color: #555;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  margin-top: 5px;
}
#recaptcha-rc #select-images-rc {
  position: absolute;
  top: 2px;
  left: 50px;
  display: none;
  width: 300px;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
}
#recaptcha-rc #select-images-rc #title-rc {
  display: flex;
  flex-direction: column;
  background-color: #4a90e2;
  padding: 17px;
  margin: 7px auto;
  width: 252px;
  height: 66px;
  font-size: 16px;
  color: #ffffff;
}
#recaptcha-rc #select-images-rc #title-rc span {
  font-size: 28px;
  font-weight: 900;
}
#recaptcha-rc #select-images-rc #images-rc {
  width: 286px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#recaptcha-rc #select-images-rc #images-rc label {
  width: 92px;
  height: 96px;
  position: relative;
}
#recaptcha-rc #select-images-rc #images-rc label input {
  display: none;
}
#recaptcha-rc #select-images-rc #images-rc label img {
  width: 92px;
  height: 92px;
  display: block;
  margin: 2px auto;
  pointer-events: none;
}
#recaptcha-rc #select-images-rc #images-rc label .check-tick-rc {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 23px;
  height: 23px;
  background-color: #4480F7;
  border-radius: 50%;
}
#recaptcha-rc #select-images-rc #images-rc label .check-tick-rc i {
  color: #ffffff;
  font-size: 23px;
}
#recaptcha-rc #select-images-rc #again-rc {
  display: none;
  font-size: 14px;
  text-align: center;
  color: #d14836;
  padding: 7px 0;
}
#recaptcha-rc #select-images-rc #decision-rc {
  border-top: 1px solid #d3d3d3;
  margin-top: 2px;
}
#recaptcha-rc #select-images-rc #decision-rc #decision-btn-rc {
  background-color: #4a90e2;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 42px;
  width: 80px;
  height: 42px;
  text-align: center;
  padding: 0 10px;
  font-weight: 500;
  color: #ffffff;
  margin: 8px 8px 8px auto;
}/*# sourceMappingURL=recaptcha.css.map */